# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/
test/tmp
test/version_tmp
test/css
test/scss/output-test
tmp
*.DS_Store
.sass-cache/*
test/.sass-cache/*
test/css/styles.css
*.orig
docs/public/*
*.scssc
public/system/*
config/database.yml
config/secrets.yml
.ruby-version
