<div class="keypoint-collection">
  <div class="row keypoint">
    <div class="large-6 columns">
      <canvas id='indexBarChart' width="350" height="350"></canvas>
    </div>
    <div class="large-5 columns end">
      <div class="keypoint-border"></div>
      <div class="keypoint-text">
        <h3>Log your gains and losses</h3>
        <p class='subheader'>Visualize your weight fluctuation depending on your goals. To see your positive changes mapped over time incentivizes you to continue on your Grassfed journey.</p>
      </div>
    </div>
  </div>

  <div class="row keypoint">
    <div class="large-5 columns">
      <div class="keypoint-border"></div>
      <div class="keypoint-text">
        <h3>Stick to your customized grassfed diet</h3>
        <p class="subheader">
          Keep track of your meals and calculate the macros necessary to stay on top of your Grassfed goals. Calorie intake ranges vary from 50 to 80 from fats, 10 to 30 from protein, and 5 to 30 from carbohydrates.
        </p>
      </div>
    </div>
    <div class="large-6 columns">
      <canvas id="indexPieChart" width="350" height="350"></canvas>
    </div>
  </div>

  <div class="row keypoint">
    <div class="large-6 columns">
      <canvas id='indexDoughnutChart' width='350' height='350'></canvas>
    </div>
    <div class="large-5 columns">
      <div class="keypoint-border"></div>
      <div class="keypoint-text">
        <h3>Keep an eye on your lifes delicate balance</h3>
        <p class='subheader'>
          Log excercise, work, and sleep to find the sweet spot that keeps you feeling your best. The closer you follow the Grassfed diet, the less sleep you'll need for optimum operation.
        </p>
      </div>
    </div>
  </div>
