  <div class="large-7 columns">
    <ul class="pricing-table">
      <li class="title"><%= @food.name.capitalize %> Recipes</li>
      <li class="description">Recipe description goes here</li>
      <li class="bullet-item">Direction #1</li>
      <li class="bullet-item">Direction #2</li>
      <li class="bullet-item">Direction #3</li>
      <li class="cta-button">
        <%= link_to 'Tweet', food_path(@food), class: 'button radius' %>
        <%= link_to 'Print', food_path(@food), class: 'button radius' %>
        <%= link_to 'Email', food_path(@food), class: 'button radius' %>
      </li>
    </ul>
  </div>