$primary-color: #F27620;
$secondary-color: #F6F6F6;

.month {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  background: $primary-color;
  font-size: 28px;
  letter-spacing: 4px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
  color: lighten($secondary-color, 10%);
  a {
    color: darken($primary-color, 10%);
    &:hover {
      color: darken($primary-color, 10%);
      transition: 0.8s ease-in-out;
    }
  }
}

[role="main"] {
  overflow: hidden;
  padding: 15px;
  background: white;
}

.calendar {
  margin: 0 5%;
  ul {
    list-style-type: none;
    li {
      position: relative;
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      zoom: 1;
      *display: inline;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.day-row {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.day {
  &:hover {
    background-color: white !important;
  }
}

.today {
  background-color: $primary-color;
  color: white;
  &:hover {
    color: #555;
    transition: 0.8s ease-in-out;
  }
}

.week-row {
  color: #555;
  font-size: 14px;
}
.not-month {
  color: #bababa;
}

.overlay {
  position: absolute;
  top: 8px;
  height: 7px;
  width: 7px;
  border-radius: 14px;
  background-color: $primary-color;
}

#sleepChart {
  margin-left: 15px;
}